.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.game-title {
  text-align: center;
}

.game-rules {
  padding: 10px;
  display: flexbox;
}

.game-controls {
  margin: auto;
  width: 50%;
  display: inline-flex;
  padding: 10px;
}

.grid {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.control-card {
  margin: auto;
  width: 50%;
  padding: 10px;
}
